<div>
    <h1>Sorting Algorithms</h1>

    <form class="arrayForm">
      <label for="Array">Try your own Array!</label>
      <input type="text" id="arrayFormInput" placeholder="e.g [4,3,5,1,2]" />
    </form>

    <button type="button" id="bubbleSortButton" class="button">
      🧼Bubble Sort!
    </button>
    <button type="button" id="stepButton" class="button">🏃‍ Next Step</button>
    <section class="sortBox"></section>

    
    <script type="text/javascript" src="/public/bundle.js"></script>
    <script src="./node_modules/animejs/lib/anime.min.js"></script>
</div>